html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.hide-overflow {
	position: relative;
	right: 120px;
	overflow-x: hidden;
}

.background {
    background-color: #161616;
}

@media only screen and (orientation: portrait) {
    .background-texture {
        height: 105vh;
        background: url("images/background-logo-black.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        top: -200vh;
        z-index: -1;
    }
}

@media only screen and (orientation: landscape) {
    .background-texture {
        height: 1400px;
        background: url("images/background-logo-black.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        top: -20vh;
        z-index: -1;
    }
}

@media only screen and (orientation: portrait) {

    .nav-content {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background-image: linear-gradient(#000000, #00000000);
    }

    .nav-links-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-link {
        margin-left: 16px;
    }

    .initial-text {
        margin-top: 40px;
        margin-left: 16px;
        margin-right: 16px; 
        display: block;
        margin-bottom: 80px;
    }

    .initial-text-line-1 {
        font-family: droid-serif, serif;
        font-weight: 400;
        font-style: italic;
        font-size: 28px;
        color: #FFFFFF;
        padding-bottom: 8px;
    }

    .initial-text-line-2 {
        font-family: droid-serif, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 48px;
        color: #F3A327;
        padding-bottom: 40px;
    }

    .initial-text-line-3 {
        width: 85vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 1.75em;
        letter-spacing: 0.04rem;
        color: #D0D0D0;
        padding-bottom: 40px;
    }
    
    .scroll-down {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .scroll-down-text {
        margin: 12px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.04rem;
        color: #D0D0D0;
    } 

    .section-sobre {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 680px;
        background-color: #F3A327;
    }

    .photo-gio {
        position: relative;
        top: -44px;
        margin-bottom: 40px;
    }

    .title-black {
        display: flex;
        align-self: flex-start;
        font-family: droid-serif, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 28px;
        line-height: 40px;
        color: #000000;
        margin-left: 16px;
        padding-bottom: 8px;
        border-bottom: 4px solid #FFFFFF;
        position: relative;
        top: -44px;
    }

    /* TENTANDO COLOCAR UMA BORDER BOTTOM ESTILIZADA
    .underline-art {
        width: 280px;
        height: 80px;
        background: #FFFFFF;
        -webkit-clip-path: polygon(11% 92%, 88% 93%, 75% 100%, 0% 100%);
    clip-path: polygon(10% 90%, 90% 90%, 75% 100%, 0% 100%);
    }
    */

    .paragraph-black {
        display: flex;
        align-self: flex-start;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 1.75em;
        color: #000000;
        margin-top: 28px;
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 8px;
        position: relative;
        top: -44px;
    }

    .section-quote {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 300px;
        background-color: #FFFFFF;
        border-bottom: 8px solid #F3A327;
    }

    .quote-icon {
        display: flex;
        align-self: flex-start;
        margin-left: 16px;
        margin-bottom: 16px;
        position: relative;
        top: 28px;
    }

    .quote-text {
        font-family: droid-serif, serif;
        font-weight: normal;
        font-style: italic;
        font-size: 18px;
        line-height: 1.75em;
        color: #000000;
        margin-left: 16px;
        margin-bottom: 16px;
        position: relative;
        top: 28px;
    }

    .quote-text em {
        font-weight: 700;
    }

    .quote-text-author {
        display: flex;
        align-self: flex-start;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 1.75em;
        margin-left: 16px;
        color: #666666;
        position: relative;
        top: 28px;
    }

    .section-cases {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 920px;
    }

    .title-white {
        display: flex;
        align-self: flex-start;
        font-family: droid-serif, serif;
        font-weight: 500;
        font-style: normal;
        font-size: 28px;
        line-height: 40px;
        color: #FFFFFF;
        margin-left: 16px;
        padding-top: 40px;
        padding-bottom: 8px;
        border-bottom: 4px solid #F3A327;

    }

    .paragraph-white {
        display: flex;
        align-self: flex-start;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 1.75em;
        color: #FFFFFF;
        margin-top: 28px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 60px;
    }

    .portfolio-container-1 {
        display: flex;
        width: 100vw;
        padding-left: 16px;
        padding-right: 16px;
        justify-content: space-between;
    }

    .image-placeholder-portrait-1 {
        display: flex;
        background: #666666;
        height: 182px;
        margin-left: 16px;
        margin-right: 8px;
        flex: 1;
    }

    .image-placeholder-square-2 {
        display: flex;
        background: #F3A327;
        height: 136px;
        margin-left: 8px;
        margin-right: 16px;
        flex: 1;
    }

    .portfolio-container-2 {
        display: flex;
        width: 100vw;
        padding-left: 16px;
        padding-right: 16px;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        top: -32px;
    }

    .image-placeholder-square-3 {
        display: flex;
        background: #F3A327;
        height: 136px;
        margin-left: 16px;
        margin-right: 8px;
        flex: 1;
    }

    .image-placeholder-portrait-4 {
        display: flex;
        background: #666666;
        height: 182px;
        margin-left: 8px;
        margin-right: 16px;
        flex: 1;
    }

    .portfolio-link-text {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-style: normal;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.75em;
        color: #FFFFFF;
        margin-right: 4px;

    }

    .external-link-icon {
        display: inline-block;
        margin-left: 4px;
        position: relative;
        top: 4px;
    }


}
